ipython
jupyter
jupyterlab
pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
graphviz
sidetable
torch
keras
nltk
pmdarima
tensorflow
twscrape
python-dotenv
wordcloud
langdetect
tqdm
transformers
plotly
nrclex
xgboost
